
<!--
    37. footer.mustache 분리
        index.mustache 파일이 PHP의 include 하듯이 구조가 변경이 가능
-->
</div> <!-- container -->
<div class="container">
    <div class="row border bg-light">
        <div class="col mx-5">
            Copyleft <span class='fw-bold'>김예지</span> | yejikim@kbfg.com<br>서울특별시 영등포구 여의대로 전경련회관 32층 KB국민은행 스타뱅킹부(P)(스뱅2부(고객경험))
        </div>
    </div>
</div>
</body>
</html>